* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: "ChakraPetch Light";
  src: url(./Utils/Fonts/Chakra_Petch/ChakraPetch-Light.ttf);
}
@font-face {
  font-family: "ChakraPetch LightItalic";
  src: url(./Utils/Fonts/Chakra_Petch/ChakraPetch-LightItalic.ttf);
}
@font-face {
  font-family: "ChakraPetch Medium";
  src: url(./Utils/Fonts/Chakra_Petch/ChakraPetch-Medium.ttf);
}
@font-face {
  font-family: "ChakraPetch MediumItalic";
  src: url(./Utils/Fonts/Chakra_Petch/ChakraPetch-MediumItalic.ttf);
}
@font-face {
  font-family: "ChakraPetch Bold";
  src: url(./Utils/Fonts/Chakra_Petch/ChakraPetch-Bold.ttf);
}
@font-face {
  font-family: "ChakraPetch BoldItalic";
  src: url(./Utils/Fonts/Chakra_Petch/ChakraPetch-BoldItalic.ttf);
}

@font-face {
  font-family: "ChakraPetch Regular";
  src: url(./Utils/Fonts/Chakra_Petch/ChakraPetch-Regular.ttf);
}